:root{
    --secondary-color: #d7d1c9;
    --accent-color: #829985;
    --text-color: black;
    --text-color-accent: white;
}

.header{
    background-color: var(--accent-color);
    padding: 1rem;
    font-size: 1.2rem;
}

.navigation{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    gap: 2.3rem;
    color: var(--text-color-accent);
}

.navigation a{
    text-decoration: none;
    color: inherit;
}

.main{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 10px;
}

.main_section{
    width: 40%;
    border-bottom: 3px solid var(--secondary-color);

}

.main_section:first-child{
    width: 100%;
    border-bottom-width: 7px;
}

@media (max-width: 768px) {
    .main_section {
        width: 100%;
    }
}